body{
  background-color: rgba(56, 48, 171, 0.50);
}
/*.everything {
left ;
}*/

.hidden {
  display: hidden;
}

#heads {
  padding-left: 7vw;
}

#ping {
    position: fixed;
    top: 30vh;
    padding-left: 7vw;
}

#pong {
    position: fixed;
    top: 30vh;
    left: 53vw;
    margin: auto;
}

#ping-pong {
    position: fixed;
    bottom:10vh;
    left: 27vw;
    margin: auto;
}

.pictures {
z-index: 1000;
}

.form-group{
  text-align: center;
}

.button {
  position: fixed;
  border: 1px;
  right: 42vw;
  width: 12vw;
}

#results {
  position: fixed;
  right: 22vw;
  top: 17vh;
  font-size: 24pt;
  font-family: fantasy;
  color: rgba(205, 14, 122, 0.84);
}

input:required {
  box-shadow: 4px 4px 20px rgba(205, 14, 122, 0.84);
}

input:required:focus {
  border: 1px solid red;
  outline: none;
}

input:required:hover {
  opacity: 1;
}

#message {
 right: 45vw;
 width: 14vw;
}
