body{
  background-color: rgba(56, 48, 171, 1.0);
}

#heads {
  padding-left: 7vw;
}


.form-group{
  text-align: center;
}

.button {
  border: 1px;
}

#titleResults {
  display: block;
  position: fixed;
  right: 40vw;
  top: 35vh;
  font-size: 14pt;
  color: lime;
}

#results {
  height: 800px;
  width: 100%;
  padding: 10px;
  font-size: 50pt;
  color: lime;
  background-color: rgba(56, 48, 171, .40);
}



input:required {
  box-shadow: 4px 4px 20px rgba(205, 14, 122, 0.84);
}

input:required:focus {
  border: 1px solid red;
  outline: none;
}

input:required:hover {
  opacity: 1;
}

#message {
  right: 45vw;
  width: 14vw;
}
ul {
  display: inline-block;
}
